@charset "utf-8";

body {
    overflow-x: hidden;
    background-color: #c9bfa8;
    font-feature-settings: "palt";
}
.wrap_original {
    overflow: hidden;
}

@keyframes poyooon {
0% {transform: scale(1, 1) translate(0%, 0%);}
10% {transform: scale(1.05, .95) translate(0%, 3%);}
40% {transform: scale(1.1, .9) translate(0%, 6%);}
50% {transform: scale(1, 1) translate(0%, 0%);}
60% {transform: scale(.9, 1.2) translate(0%, -50%);}
75% {transform: scale(.9, 1.2) translate(0%, -20%);}
85% {transform: scale(1.2, .8) translate(0%, 15%);}
100% {transform: scale(1, 1) translate(0%, 0%);}
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}
.loading-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9999;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    background-color: #c9bfa8;
    animation: fadeOut 1s 3s ease forwards;
    gap: 10px;
}
.loading-bg img {
    width: 10%;
}
.loading-bg img:nth-child(1) {
  animation: poyooon .9s linear 0s infinite; /* 無限にループ */
}
.loading-bg img:nth-child(2) {
  animation: poyooon .9s linear .1s infinite; /* 無限にループ、0.1秒遅延で開始 */
}
.loading-bg img:nth-child(3) {
  animation: poyooon .9s linear .2s infinite; /* 無限にループ、0.2秒遅延で開始 */
}
@keyframes roll-in {
    0% {transform: translateX(-1000%) rotate(0deg); /* 画面の左外からスタート */
}
    100% {transform: translateX(0%) rotate(1440deg); /* 画面の右外まで移動し、360度を4回回転 */
}
}

.mv__img {
    display: inline-block;
    overflow: hidden;
    animation: roll-in 7s ease-in-out forwards; /* アニメーションを適用 */
    animation-delay: 3s;
}
.mv__img:nth-child(2) {
    animation: roll-in 6s ease-in-out forwards;
    animation-delay: 3s;
}
.mv__img:nth-child(3) {
    animation: roll-in 5s ease-in-out forwards;
    animation-delay: 3s;
}
/* 各画像のアニメーション開始タイミングを遅延させる */

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 23px;
    padding-right: 3.5%;
    padding-left: 3.5%;
}
h1 {
    width: 76px;
}
.logo h1 img {
    width: 80%;
}

.scroll {
    flex-direction: column;
    position: absolute;
    bottom: 150px;
}
.scroll-text {
    padding-left: 30px;
    color: #a38019;

    writing-mode: vertical-rl;
}

.scroll-line {
    position: absolute;
    bottom: -50px;
    left: 33px;
    width: 2px;
    height: 40px;
    background-color: #a38019;
    content: "";
    animation: scrolldown 1.5s ease-in-out infinite;
}
@keyframes scrolldown {
    0% {
    transform: translateY(0%);}
    100% {transform: translateY(100%);}
}
.scroll-line::before {
    position: absolute;
    bottom: 0;
    left: 4px;
    transform: rotate(33deg);
    width: 2px;
    height: 12px;
    background-color: #a38019;
    content: "";
}

.header-top {
    position: relative;
    height: 100vh;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%); 
    width: 100%;
    margin: 0;
    text-align: center;
}
.title h2{
    font-size: 60px;
}

.mv {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: calc(50% + 260px);
    transform: translateY(-50%);
    width: 100%;
    padding-right: 30px;
    padding-left: 100px;
    column-gap: 10px;
}
.mv__img {
    width: 132px;
}

.hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 9998;
    width: 70px;
    height: 70px;
    border: 2px solid transparent;
    border-radius: 80%;
    background-color: #a38019;
    cursor: pointer;
    transition: .3s;
}
.hamburger span {
    position: absolute;
    top: 50%;
    width: 24px;
    height: 3px;
    border-radius: 5px;
    background-color: #ffffff;
    transition: .3s;
}
.hamburger span::before {
    position: absolute;
    top: -10px;
    width: 24px;
    height: 3px;
    border-radius: 5px;
    background-color: #ffffff;
    content: "";
    transition: .3s;
}
.hamburger span::after {
    position: absolute;
    bottom: -10px;
    width: 24px;
    height: 3px;
    border-radius: 5px;
    background-color: #ffffff;
    content: "";
    transition: .3s;
}
.hamburger.open {
    background-color: transparent;
}
.open span {
    background-color: transparent;
}
.open span::before {
    top: 0;
    transform: rotate(45deg);
}

.open span::after {
    bottom: 0;
    transform: rotate(-45deg);
}

.header__nav {
    display: none;
    opacity: .8;
    position: absolute;
    z-index: 9997;
    width: 100%;
    height: 100vh;
    background-color: #3f312b;
}
.header__nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    gap: 60px;
}
.header__nav li {
    z-index: 9998;
    color: #a38019;
    font-style: medium;
    font-size: 60px;
    font-family: "ab-andante", sans-serif;
}
.section__title h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 80px;
    color: #a38019;
    font-style: normal;
    font-size: 60px;
    font-family: "ab-andante", sans-serif;
}
#ABOUT, #WORKS, #CONTACT {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    /* padding-top: 150px; */
    
}
.fluid ,
.fluid__yellow,
.fluid-top{
    opacity: .6;
}
.fluid {
    position: absolute;
    width:427px;/*横幅*/
    height:389px;/*縦幅*/
    background:#788e78;/*背景色*/
    animation: fluidrotate1 20s ease 0s infinite;/*アニメーションの設定*/
    border-radius:56% 44% 55% 37% / 51% 47% 53% 49%;
    left: -29%;
    top:-170px;
    z-index: -1;
}
.fluid__yellow{
    position: absolute;
    width:152px;/*横幅*/
    height:140px;/*縦幅*/
    background:#a38019;/*背景色*/
    top: 142px;
    left: -2%;
    animation: fluidrotate2 40s ease 0s infinite;/*アニメーションの設定*/
    border-radius: 35% 70% 75% 30% / 51% 62% 38% 49%;
    z-index: -1;
}
.fluid-top{
    position: absolute;
    width:310px;/*横幅*/
    height:300px;/*縦幅*/
    background:#788e78;/*背景色*/
    animation: fluidrotate3 30s ease 1s infinite;/*アニメーションの設定*/
    border-radius:50% 55% 70% 35% / 58% 60% 40% 42%;
    right: -20%;
    top:58px;
    z-index: -1;
}

@keyframes fluidrotate1 {
0%, 100% {border-radius: 50% 50% 57% 43% / 60% 59% 41% 40%;}
15% { border-radius: 60% 75% 40% 80% / 70% 70% 60% 65%; }
25%   { border-radius: 55% 95% 65% 90% / 75% 65% 85% 70%; }
35% { border-radius: 60% 40% 50% 45% / 60% 40% 60% 40%; }
50%   { border-radius: 55% 95% 65% 90% / 75% 65% 85% 70%; }
65% { border-radius: 60% 40% 50% 45% / 60% 40% 60% 40%; }
75%   { border-radius: 60% 75% 40% 80% / 70% 70% 60% 65%; }
85% { border-radius: 40% 60% 55% 45% / 50% 60% 40% 50%; }
}
@keyframes fluidrotate2 {
0%, 100% {border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;}
20% {border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;}
30% {border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;}
40% {border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;}
50% {border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;}
60% {border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;}
70% {border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;}
}
@keyframes fluidrotate3 {
0%, 100% {border-radius: 49% 51% 70% 30% / 53% 51% 49% 47%;}
18% { border-radius: 60% 75% 40% 80% / 70% 70% 60% 65%; }
38%   { border-radius: 55% 95% 65% 90% / 75% 65% 85% 70%; }
48% { border-radius: 60% 40% 50% 45% / 60% 40% 60% 40%; }
58%   { border-radius: 55% 95% 65% 90% / 75% 65% 85% 70%; }
68% { border-radius: 60% 40% 50% 45% / 60% 40% 60% 40%; }
78%   { border-radius: 60% 75% 40% 80% / 70% 70% 60% 65%; }
88% { border-radius: 40% 60% 55% 45% / 50% 60% 40% 50%; }
}
.about__text h3 {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    font-size: 55px;
}
.about__text p {
    flex-direction: column;
    align-items: center;
    padding-bottom: 121px;
    color: #383838;
    font-size: 18px;
    line-height: 2.44;
    text-align: center;
}
.btn__box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 150px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 123px;
    border-radius: 9999px;
    background-color: #788e78;
    color: #ffffff;
    font-size: 25px;
    font-family: "ab-andante", sans-serif;
    letter-spacing: .12em;
    cursor: pointer;
    transition-duration: .4s;
}
.btn__box::before {
    position: absolute;
    right: 20px;
    border-top: 5px solid transparent;
    border-right: 0;
    border-bottom: 5px solid transparent;
    border-left: 10px solid #ffffff;
    border-style: solid;
    content: "";
}
.btn__box:hover {
    transform: scale(1.1);
}

.top__works ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.top__works li {
    width: 50%;
    padding: 0 50px 20px 50px;
}
.top__works img {
    width: 100%;
    padding-bottom: 20px;
}
.top__works--area p {
    color: #383838;
    font-weight: bold;
}
.works__text {
    padding-top: 5px;
    padding-bottom: 8px;
    font-size: 18px;
}
.works__text-category {
    padding-bottom: 60px;
    font-size: 14px;
}
.top__works--area a:hover {
    opacity: .5;
    transition: .3s;
}

/*CONTACT*/
.contact-text{
    text-align: center;
    line-height: 1.87;
    margin: 0 auto 20px;
    font-size: 18px;
    color: #383838;
    font-weight: normal;

}
.c-form {
    display: block;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
.c-form__item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}
.c-form__label, .c-form__input {
    padding: 10px;
}
.c-form__label {
    width: 90%;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: .1em;
}
.c-form__input {
    width: 90%;
    height: 43px;
    border: solid 3px #788e78;
    border-radius: 12px;
    font-size: 18px;
    font-family: zen-maru-gothic, sans-serif;
}
.c-form__input:focus-visible {
    outline: #788e78 auto 1px;
}

textarea.c-form__input {
    height: 160px;
}
.c-form__submit {
    text-align: center;
}
.c-form__submit button {
    width: 138px;
    height: 41px;
    margin-top: 50px;
    padding: 5px 32px;
    border: solid 1px #788e78;
    border-radius: 9999px;
    background-color: #788e78;
    color: #ffffff;
    font-size: 16px;
    font-family: "zen-maru-gothic", sans-serif;
    letter-spacing: .2em;
    cursor: pointer;
    transition: .4s;
    transition-duration: .4s;
}
.c-form__submit button:hover {
    transform: scale(1.1);
    background-color: #788e78;
    color: #ffffff;
}
.footer__nav ul {
    display: flex;
    justify-content: center;
    gap: 40px;
}
.footer__nav--area li {
    display: flex;
    padding-top: 155px;
    padding-bottom: 40px;
    color: #a38019;
    font-size: 30px;
    font-family: "ab-andante", sans-serif;
}
.Copyright {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.totop {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 125px;
}
/*about*/
.about__contents{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    gap: 60px;

}
.about__area,
.about__text--area{
    width: 50%;
    padding-bottom: 147px;
    
}
.about__text--area{
    text-align: left;
}
.name{
    font-size: 60px;
    padding-bottom: 60px;
    text-align: left;
}
.profile p{
    font-size: 16px;
    color: #383838;
    line-height: 1.68;
    
}
.about__area picture{
    position: relative;
}
.about__area picture::before{
    position: absolute;
    content: "";
    width:140px;/*横幅*/
    height:130px;/*縦幅*/
    background:#a38019;/*背景色*/
    animation: fluidrotate1 30s ease 0s infinite;/*アニメーションの設定*/
    border-radius:51% 49% 49% 51% / 54% 35% 65% 46%;
    left: -5%;
    opacity: .5;
    top:-60px;
}
/* skill */

.skill__area{
    display: flex;
    justify-content: center;
    text-align: center;
    /* gap: 131px; */
}
.skill__area li{
    align-items: center;
    width: 40%;
}
.skill__area li img{
    width:70%;
}
.skill__title {
    text-align: center;
    font-size: 23px;
    margin-top: -90px;
    color: #383838;
    padding-bottom: 5px;
}
.skill__area span{
    font-size: 13px;
    color: #383838;
}
.skill__area--text,
.skill__area--item{
    text-align: center;
    font-size: 28px;
    color: #383838;
    line-height: 1.57; 
    padding-top: 90px;
    padding-bottom: 100px;
    position: relative;
}
.skill__area--text::before{
    position: absolute;
    content: "";
    width: 357px;
    height: 1px;
    background-color: #383838;
    top: 85px;
    left: 50%;
    transform: translateX(-50%);
}
.design{
    position: relative;
}
.design::before{
    position: absolute;
    content: "";
    width:120px;/*横幅*/
    height:120px;/*縦幅*/
    background:#a38019;/*背景色*/
    animation: fluidrotate2 30s ease 0s infinite;/*アニメーションの設定*/
    border-radius:51% 49% 49% 51% / 54% 35% 65% 46%;
    opacity: .5;
    left: 40px;
    top:45px;
}
.coding{
    position: relative;
}
.coding::before{
    position: absolute;
    content: "";
    width:120px;/*横幅*/
    height:120px;/*縦幅*/
    background:#a38019;/*背景色*/
    animation: fluidrotate1 30s ease 0s infinite;/*アニメーションの設定*/
    border-radius:51% 49% 49% 51% / 54% 50% 50% 46%;
    right: 10px;
    opacity: .5;
    top:180px;
}


.skill__area--item::before{
    position: absolute;
    content: "";
    width: 357px;
    height: 1px;
    background-color: #383838;
    top: 75px;
    left: 50%;
    transform: translateX(-50%);
}
.works__btn{
    display: flex;
    justify-content: center;
    max-width: 390px;
    height: 75px;
    width: 100%;
    background-color:#788e78;
    border-radius: 9999px;
    cursor: pointer;
    align-items: center;
    font-size: 16px;
    letter-spacing: 0.12em;
    color: #fff;
    margin: 0 auto;
    position: relative;
    transition-duration: .4s;
}
.works__btn::before{
    position: absolute;
    content: "";
    right: 40px;
    border-style: solid;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid #ffffff;
    border-right: 0;
}
.works__btn:hover {
    transform: scale(1.1);
}

/* works */
.works ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.works li {
    width:50%;
    padding: 0 50px 20px 50px
}
.works img{
    padding-bottom: 20px;
    width: 100%;
}
.works__area p{
    font-weight: bold;
    color: #383838;
}
.works__text{
    font-size: 18px;
    padding-bottom: 8px;
}
.works__text-category{
    font-size: 14px;
    padding-bottom: 60px;
}
.top__works--area a:hover{ 
	opacity:0.5;
	transition:0.3s;
}
/* works詳細 */
.works__box{
    width: 100%;
    border-radius: 20px;
}
.works__page::before{
        position: absolute;
        width: 130px;
        height: 130px;
        background: #788e78;
        right: -9%;
        top: 1400px;
        animation: fluidrotate3 40s ease 0s infinite;
        border-radius: 30% 70% 70% 30% / 51% 62% 38% 49%;
    }

.works__page{
    background-color: #cdc6b6;
    padding-top: 20px;
    margin-bottom: 160px;
    border-radius: 30px;
}
.works__page--title{
    font-size: 26px;
    font-weight: bold;
    color: #383838;
    padding: 0 0 0 20px ;
    margin: none;
}

.works__page--title::after {
    display: block;
    position: absolute;
    content: "";
    text-align: center;
    max-width: 940px;
    width: 93%;
    height: 3px; 
    background-color: #a38019; 
    border-radius: 5px; 
    margin-top:20px;
}
.works__page--capture {
    padding-bottom: 80px;
}
.works__page dl{
    display: flex;
    flex-wrap: wrap;
    padding: 0 16px;
}
.works__page dt{
    position: relative;
    width: 25%;
    padding: 26px 20px;
    border-bottom: 1px solid #a38019;
    box-sizing: border-box;
    color: #a38019;
    font-weight: 700;
    line-height: 1.75;
}


.works__page dd{
    align-items: center;
    position: relative;
    width: 75%;
    margin: 0;
    padding: 26px 20px;
    border-bottom: 1px solid #a38019;
    box-sizing: border-box;
    color: #383838;
    line-height: 1.75;
}
.works__page dd:last-of-type,
.works__page dt:last-of-type{
    border: none;
}
.works_pages_opacity,
.works_pages_next-opacity{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 122px;
    height: 66px;
    margin-bottom: 123px;
    border-radius: 9999px;
    background-color: #788e78;
    color: #ffffff;
    font-size: 22px;
    font-family: ab-andante, sans-serif;
    letter-spacing: .12em;
    cursor: pointer;
    transition-duration: .4s;
}
.works_pages_opacity,
.works_pages_next-opacity:hover{
    transform: scale(1.1);
}
.works_pages_opacity::before{
    position: absolute;
    content: "";
    left: 10px;
    border-style: solid;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 10px solid #ffffff;
    border-left: 0;
}
.works_pages_opacity,
.works_pages_next-opacity{
    opacity: 0.3;
    transform: scale(1.1);
}
.works_pages_prev {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 122px;
    height: 66px;
    margin-bottom: 123px;
    border-radius: 9999px;
    background-color: #788e78;
    color: #ffffff;
    font-size: 22px;
    font-family: ab-andante, sans-serif;
    letter-spacing: .12em;
    cursor: pointer;
    transition-duration: .4s;
}
.works_pages_prev::before{
    position: absolute;
    content: "";
    left: 10px;
    border-style: solid;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 10px solid #ffffff;
    border-left: 0;
}
.works_pages_prev:hover{
    transform: scale(1.1);
}
.works_pages_return {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 226px;
    height: 66px;
    margin-bottom: 123px;
    border-radius: 9999px;
    background-color: #788e78;
    color: #ffffff;
    font-size: 22px;
    font-family: zen-maru-gothic, sans-serif;
    letter-spacing: .12em;
    cursor: pointer;
    transition-duration: .4s;
}
.works_pages_return:hover{
    transform: scale(1.1);
}
.works_pages_next{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 122px;
    height: 66px;
    margin-bottom: 123px;
    border-radius: 9999px;
    background-color: #788e78;
    color: #ffffff;
    font-size: 22px;
    font-family: ab-andante, sans-serif;
    letter-spacing: .12em;
    cursor: pointer;
    transition-duration: .4s;
}
.works_pages_next::before{
    position: absolute;
    content: "";
    right: 10px;
    border-style: solid;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid #ffffff;
    border-right: 0;
}
.works_pages_next:hover{
    transform: scale(1.1);
}
.works__page--bottom{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
}
/* .works__page--capture{
    padding-bottom: 150px;
} */
.works__guidance{
    text-align: center;
}
.works__guidance--text{
    font-size:29px;
    line-height: 1.74;
    color: #383838;
    padding-top: 100px;
    padding-bottom: 10px;
}
.works__guidance--text2{
    font-size:18px;
    line-height: 1.74;
    color: #383838;
    padding-bottom: 65px;
}

/*CONTACTへ誘導*/
.contact__btn{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 390px;
    height: 75px;
    background-color:#788e78;
    border-radius: 9999px;
    cursor: pointer;
    align-items: center;
    font-size: 16px;
    letter-spacing: 0.12em;
    color: #fff;
    margin: 0 auto;
    position: relative;
    transition-duration: .4s;
}
.contact__btn::before{
    position: absolute;
    content: "";
    right: 40px;
    border-style: solid;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid #ffffff;
    border-right: 0;
    
}
.contact__btn:hover {
    transform: scale(1.1);
}
.section__title .heading__h3{
    padding-bottom: 0;
}
.works__title--banner img{
    padding-bottom: 112px;
    
}
.works__title--banner{
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, .5));
}
.works__page--photo {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 130px
}
.works__page--sp img{
    width:210px;
    height: auto;
    padding-bottom: 142px;
}
.works__page--pc{
    width: 70%;
}
.works__page--sp{
    width: 30%;
}
.works__page--pc img{
    /* width:600px; */
    height: auto;
}

.works_pages_next-opacity::before{
    position: absolute;
    content: "";
    right: 10px;
    border-style: solid;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid #ffffff;
    border-right: 0;
}

.container{
    width: 100%;
    position: relative;
    display: flex;

}

.fluid__contact-rig-1,
.fluid__contact-rig-2,
.fluid__contact-lef-1,
.fluid__contact-lef-2{
    opacity: .6;
}
.fluid__contact-rig-1{
    position: absolute;
    width:350px;/*横幅*/
    height:300px;/*縦幅*/
    background:#788e78;/*背景色*/
    animation: fluidrotate1 30s ease 0s infinite;/*アニメーションの設定*/
    border-radius:32% 68% 58% 42% / 20% 35% 65% 80%;
    right: -11%;
    bottom:-143px;
    z-index: -1;
}
.fluid__contact-rig-2{
    position: absolute;
    width:130px;/*横幅*/
    height:125px;/*縦幅*/
    background:#a38019;/*背景色*/
    right: -11%;
    bottom:-143px;
    animation: fluidrotate2 20s ease 0s infinite;/*アニメーションの設定*/
    border-radius: 30% 70% 70% 30% / 51% 62% 38% 49%;
    z-index: -1;
}
.fluid__contact-lef-1{
    position: absolute;
    width:300px;/*横幅*/
    height:250px;/*縦幅*/
    background:#788e78;/*背景色*/
    animation: fluidrotate3 30s ease 0s infinite;/*アニメーションの設定*/
    border-radius:73% 27% 70% 30% / 30% 62% 38% 70%;
    left: -10%;
    top:500px;
    z-index: -1;
}
.fluid__contact-lef-2{
    position: absolute;
    width:130px;/*横幅*/
    height:125px;/*縦幅*/
    background:#a38019;/*背景色*/
    animation: fluidrotate1 50s ease 0s infinite;/*アニメーションの設定*/
    border-radius:51% 49% 49% 51% / 54% 35% 65% 46%;
    left: -15%;
    top:500px;
    z-index: -1;
}
.fluid__about-pro,
.fluid__about-des,
.fluid__about-cod{
    opacity: .6;
}

.works__fluid--rig1,
.works__fluid--rig2,
.works__fluid--lef1,
.works__fluid--lef2{
    opacity: .4;
}
.works__fluid--rig1{
    position: absolute;
    width:190px;/*横幅*/
    height:200px;/*縦幅*/
    background:#a38019;/*背景色*/
    right: -11%;
    bottom:-143px;
    animation: fluidrotate1 50s ease 0s infinite;/*アニメーションの設定*/
    border-radius: 30% 70% 70% 30% / 51% 62% 38% 49%;
    z-index: -1;
}
.works__fluid--rig2{
    position: absolute;
    width:190px;/*横幅*/
    height:200px;/*縦幅*/
    background:#a38019;/*背景色*/
    animation: fluidrotate2 30s ease 0s infinite;/*アニメーションの設定*/
    border-radius:32% 68% 58% 42% / 20% 35% 65% 80%;
    right: -11%;
    top:870px;
    z-index: -1;
}
.works__fluid--lef1{
    position: absolute;
    width:190px;/*横幅*/
    height:200px;/*縦幅*/
    background:#788e78;/*背景色*/
    animation: fluidrotate3 20s ease 0s infinite;/*アニメーションの設定*/
    border-radius:51% 49% 49% 51% / 54% 35% 65% 46%;
    left: -15%;
    top:485px;
    z-index: -1;
}
.works__fluid--lef2{
    position: absolute;
    width:190px;/*横幅*/
    height:200px;/*縦幅*/
    background:#788e78;/*背景色*/
    top: 1500px;
    left: -20%;
    animation: fluidrotate1 40s ease 0s infinite;/*アニメーションの設定*/
    border-radius: 55% 45% 58% 42% / 61% 35% 65% 39%;
    z-index: -1;
}
.fluid__webtype1-rig1,
.fluid__webtype1-rig2,
.fluid__webtype1-lef1,
.fluid__webtype1-lef2{
    opacity: .4;
}
.fluid__webtype1-rig1{
    position: absolute;
    width:320px;/*横幅*/
    height:310px;/*縦幅*/
    background:#a38019;/*背景色*/
    animation: fluidrotate1 20s ease 0s infinite;/*アニメーションの設定*/
    border-radius:32% 68% 58% 42% / 20% 35% 65% 80%;
    right: -5%;
    top:-44px;
    z-index: -1;
}
.fluid__webtype1-rig2{
    position: absolute;
    width:130px;/*横幅*/
    height:125px;/*縦幅*/
    background:#788e78;/*背景色*/
    right: -4%;
    top: 157px;
    animation: fluidrotate2 40s ease 0s infinite;/*アニメーションの設定*/
    border-radius: 30% 70% 70% 30% / 51% 62% 38% 49%;
    z-index: -1;
}
.fluid__webtype1-lef1{
    position: absolute;
    width:240px;/*横幅*/
    height:230px;/*縦幅*/
    background:#a38019;/*背景色*/
    animation: fluidrotate3 50s ease 0s infinite;/*アニメーションの設定*/
    border-radius:73% 27% 70% 30% / 30% 62% 38% 70%;
    left: -3%;
    top:440px;
    z-index: -1;
}
.fluid__webtype1-lef2{
    position: absolute;
    width:130px;/*横幅*/
    height:125px;/*縦幅*/
    background:#788e78;/*背景色*/
    animation: fluidrotate2 20s ease 0s infinite;/*アニメーションの設定*/
    border-radius:51% 49% 49% 51% / 54% 35% 65% 46%;
    left: -7%;
    top:415px;
    z-index: -1;
}
.fluid__webtype2-rig1,
.fluid__webtype2-rig2,
.fluid__webtype2-lef1,
.fluid__webtype2-lef2{
    opacity: .6;
}
.fluid__webtype2-rig1{
    position: absolute;
    width:320px;/*横幅*/
    height:310px;/*縦幅*/
    background:#788e78;/*背景色*/
    animation: fluidrotate3 20s ease 0s infinite;/*アニメーションの設定*/
    border-radius:32% 68% 58% 42% / 20% 35% 65% 80%;
    right: -5%;
    top:-44px;
    z-index: -1;
}
.fluid__webtype2-rig2{
    position: absolute;
    width:130px;/*横幅*/
    height:125px;/*縦幅*/
    background:#a38019;/*背景色*/
    right: -4%;
    top: 157px;
    animation: fluidrotate2 40s ease 0s infinite;/*アニメーションの設定*/
    border-radius: 30% 70% 70% 30% / 51% 62% 38% 49%;
    z-index: -1;
}
.fluid__webtype2-lef1{
    position: absolute;
    width:240px;/*横幅*/
    height:230px;/*縦幅*/
    background:#788e78;/*背景色*/
    animation: fluidrotate1 30s ease 0s infinite;/*アニメーションの設定*/
    border-radius:73% 27% 70% 30% / 30% 62% 38% 70%;
    left: -3%;
    top:440px;
    z-index: -1;
}
.fluid__webtype2-lef2{
    position: absolute;
    width:130px;/*横幅*/
    height:125px;/*縦幅*/
    background:#a38019;/*背景色*/
    animation: fluidrotate3 30s ease 0s infinite;/*アニメーションの設定*/
    border-radius:51% 49% 49% 51% / 54% 35% 65% 46%;
    left: -7%;
    top:415px;
    z-index: -1;
}
.fluid__works__camping1,
.fluid__works__camping2,
.fluid__works__camping3{
    opacity: .6;
}
.fluid__works__camping1{
    position: absolute;
    width:130px;/*横幅*/
    height:130px;/*縦幅*/
    background:#a38019;/*背景色*/
    right: -11%;
    top: 1250px;
    animation: fluidrotate1 40s ease 0s infinite;/*アニメーションの設定*/
    border-radius: 30% 70% 70% 30% / 51% 62% 38% 49%;
    
}
.fluid__works__camping2{
    position: absolute;
    width:200px;/*横幅*/
    height:200px;/*縦幅*/
    background:#788e78;/*背景色*/
    animation: fluidrotate2 30s ease 0s infinite;/*アニメーションの設定*/
    border-radius:32% 68% 58% 42% / 20% 35% 65% 80%;
    left: -26%;
    top:679px;
}
.fluid__works__camping3{
    position: absolute;
    width:100px;/*横幅*/
    height:100px;/*縦幅*/
    background:#a38019;/*背景色*/
    animation: fluidrotate3 30s ease 0s infinite;/*アニメーションの設定*/
    border-radius:51% 49% 49% 51% / 54% 35% 65% 46%;
    left: -13%;
    top:780px;
}
.fluid__square1,
.fluid__square2,
.fluid__square3{
    opacity: .6;
}
.fluid__square1{
    position: absolute;
    width:130px;/*横幅*/
    height:130px;/*縦幅*/
    background:#788e78;/*背景色*/
    right: -9%;
    top: 1400px;
    animation: fluidrotate3 40s ease 0s infinite;/*アニメーションの設定*/
    border-radius: 30% 70% 70% 30% / 51% 62% 38% 49%;
}
.fluid__square2{
    position: absolute;
    width:200px;/*横幅*/
    height:200px;/*縦幅*/
    background:#a38019;/*背景色*/
    animation: fluidrotate2 30s ease 0s infinite;/*アニメーションの設定*/
    border-radius:32% 68% 58% 42% / 20% 35% 65% 80%;
    left: -19%;
    top:860px;
}
.fluid__square3{
    position: absolute;
    width:100px;/*横幅*/
    height:100px;/*縦幅*/
    background:#788e78;/*背景色*/
    animation: fluidrotate1 40s ease 0s infinite;/*アニメーションの設定*/
    border-radius:51% 49% 49% 51% / 54% 35% 65% 46%;
    left: -5%;
    top:830px;
}
.fluid__hamburger-lux1,
.fluid__hamburger-lux2,
.fluid__hamburger-lux3{
    opacity: .6;
}
.fluid__hamburger-lux1{
    position: absolute;
    width:130px;/*横幅*/
    height:130px;/*縦幅*/
    background:#a38019;/*背景色*/
    right: -9%;
    top: 1100px;
    animation: fluidrotate1 40s ease 0s infinite;/*アニメーションの設定*/
    border-radius: 30% 70% 70% 30% / 51% 62% 38% 49%;
}
.fluid__hamburger-lux2{
    position: absolute;
    width:200px;/*横幅*/
    height:200px;/*縦幅*/
    background:#788e78;/*背景色*/
    animation: fluidrotate2 30s ease 0s infinite;/*アニメーションの設定*/
    border-radius:32% 68% 58% 42% / 20% 35% 65% 80%;
    left: -19%;
    top:550px;
}
.fluid__hamburger-lux3{
    position: absolute;
    width:100px;/*横幅*/
    height:100px;/*縦幅*/
    background:#a38019;/*背景色*/
    animation: fluidrotate3 30s ease 0s infinite;/*アニメーションの設定*/
    border-radius:51% 49% 49% 51% / 54% 35% 65% 46%;
    left: -5%;
    top:590px;
}
.fluid__footer-rig1,
.fluid__footer-rig2,
.fluid__footer-lef1{
    opacity: .5;
}
.fluid__footer-rig1{
    position: absolute;
    width:320px;/*横幅*/
    height:310px;/*縦幅*/
    background:#788e78;/*背景色*/
    animation: fluidrotate2 30s ease 0s infinite;/*アニメーションの設定*/
    border-radius:32% 68% 58% 42% / 20% 35% 65% 80%;
    right: 8%;
    top:-460px;
    z-index: -1;
}
.fluid__footer-rig2{
    position: absolute;
    width:130px;/*横幅*/
    height:125px;/*縦幅*/
    background:#a38019;/*背景色*/
    right: 20%;
    top: -232px;
    animation: fluidrotate1 40s ease 0s infinite;/*アニメーションの設定*/
    border-radius: 30% 70% 70% 30% / 51% 62% 38% 49%;
    z-index: -1;
}
.fluid__footer-lef1{
    position: absolute;
    width:225px;/*横幅*/
    height:200px;/*縦幅*/
    background:#a38019;/*背景色*/
    animation: fluidrotate2 30s ease 0s infinite;/*アニメーションの設定*/
    border-radius:73% 27% 70% 30% / 30% 62% 38% 70%;
    left: 13%;
    top:-137px;
    z-index: -1;
}
.thanks_area{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #383838;
    padding-top: 250px;

}
.thanks_title {
    font-size: 30px;
    margin-bottom: 30px;
    color: #383838;
    padding: 0 10px;
}

.thanks_text {
    font-size: 18px;
    line-height: 1.75;
    color: #383838;
    padding: 0 10px;
    padding-bottom: 30px;
}
.monster{
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    gap: 10px;
    left: 50%;
    width: 50%;
    transform: translate(-50%,-50%);
}
.monster img{
    width: 100px;
    padding-top: 150px;
}
.sp__br{
    display: none;
}
.fluid_sp-gr, .fluid_sp-ye{
    opacity: .6;
}
.fluid_sp-gr{
    position: absolute;
    width:200px;/*横幅*/
    height:200px;/*縦幅*/
    background:#788e78;/*背景色*/
    animation: fluidrotate2 30s ease 0s infinite;/*アニメーションの設定*/
    border-radius:73% 27% 70% 30% / 30% 62% 38% 70%;
    right: -3%;
    top:-104px;
    z-index: -1;
}
.fluid_sp-ye{
    position: absolute;
    width:100px;/*横幅*/
    height:100px;/*縦幅*/
    background:#a38019;/*背景色*/
    animation: fluidrotate1 30s ease 0s infinite;/*アニメーションの設定*/
    border-radius:32% 68% 58% 42% / 20% 35% 65% 80%;
    right: -1%;
    top:23px;
    z-index: -1;
}

.title-sp{
    display: none;
}

.fluid_sp-gr,
.fluid_sp-ye{
    display: none;
}

.sp__top--works{
    display: none;
}

@keyframes fluidrotate {  
    0%, 100% {border-radius: 56% 44% 70% 30% / 51% 47% 53% 49%;}
    14% {border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;}
    28% {border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;}
    42% {border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;}
    56% {border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;}
    70% {border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;}
    84% {border-radius: 46% 54% 50% 55%/35% 61% 39% 65%;}
}
@media screen and  (max-width:1100px) {
    .design::before{
        left: 10px;
        top: 14px;
    }
    .coding::before{
        right: -5px;
        top: 130px;
    }
    .skill__title{
        margin-top: -67px;
    }
}
@media screen and  (max-width:900px) {
    
    .about__text h3{
        font-size: 50px;
        padding-bottom: 80px;
    }
    .fluid {
        width:300px;
        height:250px;
        left: -16%;
        top:37px;
}
    .fluid__yellow{
        width:140px;
        height: 130px;
        top: 206px;
        left: 5%;
}
    .fluid-top{
        width:250px;
        height:240px;
        right: -9%;
        top:128px;
}
.fluid__contact-lef-2{
    left: -9%;
}
    .skill__area{
        display: block;
    
}
    .skill__area li{
        width: 100%;
}
    .skill__area li img{
        width: 60%;
}

.design::before{
    width:200px;
    height:200px;
    left: 94px;
    top: 14px;
}
.coding::before{
    width:200px;
    height:200px;
    right: 100px;
    top: 230px;
}
.works__page--title::after{
    width: 89%;
}
.works__title--banner{
    text-align: center;
}
.works__title--banner img{
    width: 90%;
}
.works__box {
    margin: 0 20px;
}
/* works fluid */
    .works__fluid--rig1,
    .works__fluid--rig2,
    .works__fluid--lef1,
    .works__fluid--lef2,
    .fluid__webtype1-lef1,
    .fluid__webtype1-lef2,
    .fluid__webtype2-lef1,
    .fluid__webtype2-lef2,
    .fluid__square1,
    .fluid__works__camping1,
    .fluid__hamburger-lux1{
        display: none;
    }
    .fluid__contact-rig-1 {
        width: 200px;
        height: 200px;
        right: -2%;
        bottom: -24px;
        z-index: -1;
    }
    /* top-contact */
    .fluid__contact-rig-2{
        width: 130px;
        height: 125px;
        right: -5%;
        bottom: -66px;
        z-index: -1;
    }
    .fluid__contact-lef-1{
        width: 190px;
        height: 190px;
        left: -3%;
        top: 490px;
        z-index: -1;
    }
    .fluid__contact-lef-2{
        width: 120px;
        height: 120px;
        left: -6%;
        top: 610px;
        z-index: -1;
    }
    
    .works__page--pc{
        width: 500px;
    }
    .works__page--photo{
        gap: 80px;
        
    }
    .works__title--banner {
        width: 80%;
    }
    
    /* works-fluid */
    .fluid__square2{
        width: 150px;
        height: 150px;
        left: -1%;
        top: 1165px;
    }
    .fluid__square3{
        width: 100px;
        height: 100px;
        left:14%;
        top: 1175px;
    }
    .fluid__works__camping2{
        width: 150px;
        height: 150px;
        left: -1%;
        top: 1010px;
        z-index: 0;
    }
    .fluid__works__camping3{
        width: 100px;
        height: 100px;
        left:14%;
        top: 1040px;
    }
    
    .fluid__hamburger-lux2{
        width: 150px;
        height: 150px;
        left: -1%;
        top: 930px;
    }
    .fluid__hamburger-lux3{
        width: 100px;
        height: 100px;
        left:14%;
        top: 930px;
    }

}
@media screen and  (max-width:767px) {
    .hamburger{
        top:18px;
        right:18px;
    }
    .logo h1 img {
        width: 70%;
    }
    .logo{
        padding-top: 17px;
        padding-left: 3.5%;
    }
    .sp__br{
        display: block;
    }
    .title h2 {
        display: inline-block;
        font-size: 50px;
        padding-bottom: 24%;
        text-align: left;
    }
    
    .section__title h3{
        font-size: 50px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    #ABOUT, #WORKS, #CONTACT {
        padding-top:0;
    }
    .about__text h3{
        text-align: left;
        justify-content: left;
        padding-bottom: 70px;
    }
    .about__text p{
        text-align: left;
        font-size: 16px;
        padding-bottom: 90px;
    }
    .fluid_sp-gr,.fluid_sp-ye{
        display: block;
    }
    
    .mv {
        justify-content: center;
        padding: 10%;
    }
    .fluid,
    .fluid__yellow,
    .fluid-top{
        display: none;
    }
    
    .top__works{
        display: none;
    }
    .sp__top--works{
        display:block;
    }
    .top__works--area{
        width: 100%;
    }
    .top__works--area li{
        width: 100%;
        flex-direction: column;
    }
    .works__page--title{
        font-size: 23px;
    }
    .contact-text{
        text-align: left;
    }
    .footer__nav ul{
        flex-direction: column;
        padding-left: 40px;
        padding-top: 50px;
        gap: 0;
    }
    .footer__nav--area li{
        padding-top: 12px;
        padding-bottom: 5px;
    }

    .about__contents{
        display: block;
        flex-direction: column;
        width: 100%;
    }
    .about__area, .about__text--area{
        width: auto;
        padding-bottom: 50px;
        text-align: center;
        
    }
    .about__area picture::before{
        width: 120px;
        height: 120px;
        left: 72%;
        top: -70px;

    }
    
    .profile{
        text-align: left;
        padding: 0 15px;
    }
    .about__area picture img{
        width: 70%;
    }
    .name{
        text-align: center;
    }
    
    .design::before{
        left: 10px;
        top: 14px;
    }
    .coding::before{
        right: -5px;
        top: 130px;
    }
    .skill__title{
        margin-top: -70px;
    }
    #WORKS{
        padding: 10px;
    }
    /* slick スライダーの画像の最大幅を設定 */
    .top__works--area img {
    width: auto;
    max-width: 100%;
    height: auto;
    }
    /* スライダーコンテナのスタイル */
    #WORKS {
    /* padding: 80px 0; */
    overflow: hidden;
    }
    .sp__top--works {
    width: 100%;
    max-width: 767px;
    }
    .top__works--area-sp {
    width: 100%;
    max-width: 767px;
    margin: 20px auto;
    overflow-x: hidden;
    }
    .top__works--area-sp img {
    width: 100% !important;
    margin: 0 auto;
    /* max-width: 300px; */
    }
    .top__works--area-sp .slick-slide {
    margin: 0 10px;
    transition: transform 300ms ease-in-out;
    }
    .works__text,.works__text-category{
        color: #383838;
    }
    .works img{
        padding-bottom: 0;
    }
    .works__text,
    .works__text-category{
        display: block;
        overflow:hidden;
        white-space:nowrap;
        text-overflow: ellipsis;
    }
    .works li{
        padding: 0 20px 20px 20px;
    }
    .works__text{
        font-size: 15px;
        font-weight:bold;
        padding-left: 3px;
        padding-top: 10px;
    }
    .works__text-category{
        font-size:12px;
        padding-left: 3px;
    
    }
    .works__box{
        margin:0 20px;
    }
    .works__page--title::after{
        width: 87%;
    }
    .works__title--banner{
        text-align: center;
    }
    
    .works__page{
        margin-bottom: 100px;
    }
    .works__page--sp{
        display: none;
    }
    .works__page--pc{
        width: 100%;
    }
    .works__page--bottom{
        padding-top: 80px;
        gap: 10px;
        font-size: 16px;
    }
    .works__guidance--text{
        font-size: 25px;
        padding-top: 80px;
    }
    .works__guidance--text2{
        font-size: 16px;
    }
    .works_pages_opacity::before,
    .works_pages_next-opacity::before,
    .works_pages_prev::before,
    .works_pages_next::before{
        display: none;
    }

    .works_pages_next-opacity::before,
    .works_pages_return,
    .works_pages_opacity, 
    .works_pages_next-opacity,
    .works_pages_next,
    .works_pages_prev{
        font-size: 18px;

    }

    /* works fluid */
    .works__fluid--rig1,
    .works__fluid--rig2,
    .works__fluid--lef1,
    .works__fluid--lef2,
    .fluid__webtype1-lef1,
    .fluid__webtype1-lef2,
    .fluid__webtype2-lef1,
    .fluid__webtype2-lef2,
    .fluid__square1,
    .fluid__works__camping1{
        display: none;
    }
    .fluid__contact-rig-1 {
        width: 200px;
        height: 200px;
        right: -2%;
        bottom: -24px;
        z-index: -1;
    }
    .fluid__contact-rig-2{
        width: 130px;
        height: 125px;
        right: -5%;
        bottom: -66px;
        z-index: -1;
    }
    .fluid__contact-lef-1{
        width: 190px;
        height: 190px;
        left: -3%;
        top: 490px;
        z-index: -1;
    }
    .fluid__contact-lef-2{
        width: 120px;
        height: 120px;
        left: -6%;
        top: 610px;
        z-index: -1;
    }
    
    .fluid__webtype2-rig1{
        width: 250px;
        height: 250px;
        right: 1%;
        top:7px;
    }

    .fluid__square2{
        width: 150px;
        height: 150px;
        left: -1%;
        top: 1110px;
    }
    .fluid__square3{
        width: 100px;
        height: 100px;
        left:14%;
        top: 1180px;
    }
    .fluid__works__camping2{
        width: 150px;
        height: 150px;
        left: -1%;
        top: 940px;
        z-index: 0;
    }
    .fluid__works__camping3{
        width: 100px;
        height: 100px;
        left:14%;
        top: 995px;
    }
    .fluid__hamburger-lux1{
        display: none;
    }
    .fluid__hamburger-lux2{
        width: 150px;
        height: 150px;
        left: -1%;
        top: 856px;
    }
    .fluid__hamburger-lux3{
        width: 100px;
        height: 100px;
        left:14%;
        top: 922px;
    }
    /* footer fluid */
    .fluid__footer-rig1{
        width: 250px;
        height: 250px;
        right: 2%;
        top: -316px;
    }
    .fluid__footer-rig2{
        width: 100px;
        height: 100px;
        right: -1%;
        top: -190px;
    }
    .fluid__footer-lef1{
        width: 150px;
        height: 150px;
        left: 3%;
        top: -105px;
    }
    .totop{
        width: 85px;
        right: 10px;
    }
    
}
@media screen and  (max-width:580px) {
    .scroll-text{
        padding-left: 10px;
    }
    .scroll-line{
        left: 13px;
    }
    .design::before{
        width:120px;
        height:120px;
        left: 29px;
        top: 14px;
    }
    .coding::before{
        width:120px;
        height:120px;
        right: 45px;
        top: 130px;
    }
.works__page dl{
    display: block;
}
.works__page dt{
    border-bottom: none;
    padding: 0;
    padding-top:5px
}
.works__page dd{
    padding: 15px 10px;
}
.works__page dt,.works__page dd{
    width: auto;
}
.fluid__square2,
.fluid__square3,
.fluid__works__camping2,
.fluid__works__camping3,
.fluid__hamburger-lux2,
.fluid__hamburger-lux3{
    display: none;
}
.monster img{
    width: 80px;
}
.thanks_page{
    padding: 0 10px;
}
.thanks_title{
    font-size: 25px;
}
.thanks_text{
    font-size: 16px;
}
}
@media screen and  (max-width:450px) {
    .hamburger{
        width: 50px;
        height: 50px;
    }
    
    .hamburger span,
    .hamburger span::before,
    .hamburger span::after{
        width: 18px;
        height: 2px;
    }
    /* .hamburger span::after{
        top: -8px;
    }
    .hamburger span::before{
        top: 8px;
    } */
    .open span::before{
        transform: rotate(-45deg);
        bottom: 0;
    }
    .open span::after{
        transform: rotate(45deg);
        top: 0;
    }
    .logo h1 img{
        width: 55%;
    }

    
    .coding::before{
        width: 110px;
        height: 110px;
        right: 14px;
        top: 103px;
    }
    .skill__title{
        font-size: 18px;
        margin-top:-55px
    }
    .works__guidance--text{
        font-size: 20px;
        
    }
    .contact-text{
        font-size: 16px;
    }
}